@{
    ViewBag.Title = "Contact Us";
}

<div style="background-color:antiquewhite">
    <h2>@ViewBag.Title</h2>
    <h4>@ViewBag.Message</h4>
    <br />

</div>

<div style="background-color:antiquewhite">
    <address>
        <h4 style="text-decoration:underline">Address:</h4>
        HSR, Bangalore<br />
        Karnataka<br />
        <abbr title="Phone">P:</abbr>
        000-000-0000
    </address>


    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@bookmytutor.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@bookmytutor.com</a>
    </address>
</div>