@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    .bgimg {
        background-image: url('../../Content/images/books.jpg');
        background-repeat:no-repeat;
        background-position:right;
        max-height:100%;
        max-width:100%;
    }
</style>

<div class="jumbotron">
        
        <div class="bgimg">
            <h2>Welcome to Book My Tutor</h2>
            <p class="lead col-md-6 col-sm-6 col-xs-6" color="">Great platform to know about the courses available, tutors with expertise and book courses in your knowledge interest.</p>
            <a> @Html.ActionLink("Login to Learn More", "Login", "Account")</a>
        </div>
    
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Available courses</h2>
        <p>
            Check for available courses and book to know more in depth.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@